# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/

# Environments
.env
.venv/
env/
venv/

# Tools
.ruff_cache/
.mypy_cache/
.pytest_cache/

# IDE
.idea/
.vscode/

# Project-specific
powerflow_mcp/pandapower/tmp/
uv.lock
